.area_products a {
    text-decoration: none;
}

.img_area_square {
    aspect-ratio: 1/1;
}
.img_area_square img {
    height: 100%;
}
@media screen and (min-width: 992px) {
    .product_anime {
        position: relative;
        perspective: 500px;
        overflow: hidden;
        transition: border-radius 0.5s ease, box-shadow 0.5s ease;
    }
    
    .product_anime:hover {
        box-shadow: inset 0px 0px 20px white;
        border-radius: 50%;
    }

    .product_anime .effect_img_slop {
        position: relative;
        transition: transform 1s ease, filter 1s ease;
        transform-origin: bottom;
        aspect-ratio: 1;
    }
    
    .product_anime:hover .effect_img_slop {
        transform: rotateX(75deg);
        filter:brightness(10%);
    }

    .product_anime:hover .effect_img_slop::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        transform: rotateX(75deg);
        box-shadow: 1px 1px 1px white;
    }

    .product_anime .effect_img_float {
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        opacity: 0;
        transform: translate(50%, 100%) scale(0.8);
        transition: transform 1s, opacity 1s ;
        overflow: hidden;
    }

    .product_anime:hover .effect_img_float {
        opacity: 1;
        transform: translate(50%, 0%) scale(0.8);
    }
} 